.marginLeft{
  margin-left: auto;
}
.loginPage{
  width: 500px;
  margin: auto;
}
.changePass{
  width: 500px;
  margin: auto;
  /* overflow: auto; */
}
.login-btn {
  width: 100px;
  color: white;
}
