.marginLeft{
  margin-left: auto;
}
.loginPage{
  min-width: 380px;
  width: 500px;
  max-width: 100vw;
  margin: auto;
}
.changePass{
  width: 500px;
  margin: auto;
  /* overflow: auto; */
}
.login-btn {
  width: 100px;
  color: white;
}
